<div class="fab">
  <div tabindex="0" role="button" class="btn btn-lg btn-circle btn-primary">
    <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-6 h-6 stroke-current" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" /></svg>
  </div>
  <%= link_to "New client", new_client_path, class: "btn btn-outline btn-primary" %>
  <!-- <button class="btn btn-outline btn-primary">New session</button> -->
</div>
