<% content_for :title, "AI Coach" %>
<section>

    <div role="alert" class="alert alert-error alert-outline mb-8 alert-vertical sm:alert-horizontal">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
        <div>
            <h4 class="font-bold">Experiment with AI acting as a coach</h4>
            <div class="text-xs mt-2">
                WARNING: AI may mislead. Use your own judgment. When needed, contact a human coach, ideally one who is ICF certified (ACC, PCC, or MCC).
            </div>
        </div>
    </div>

    <div class="text-center">
        <div class="text-2xl">
            Visit chat -> <%= link_to "Life and Business AI Coach", "https://chatgpt.com/g/g-68ee705370988191a94991b998858f9d-life-and-business-coach", class: "link" %>
        </div>
        <div class="text-base-content/30 mt-16">
        Feel free to <%= link_to "leave me a feedback", "https://www.stanislavvalasek.com/en/contact", class: "link" %>.
        </div>
    </div>
</section>
