<% content_for :title, "Changelog" %>

<section class="md:w-2/3 w-full mx-auto mb-8">
    <h1 class="mb-6 text-center">What's New?</h1>
    <div class="text-center">Your Opinion Matters. Check the
    <a href="https://github.com/users/valasek/projects/2/views/1?layout=board" class="link">Roadmap</a>
    or <%= link_to "Leave a Feedback", "https://forms.gle/rMP5FwtpPDMgSn337", class: "link" %>.</div>
    
    <% @changelog.each do |year, entries| %>
        <h2 class="text-2xl font-bold mt-8 mb-4">Changes in <%= year %></h2>
        <% entries.each_with_index do |entry, index| %>
            <div class="bg-base-100 mt-4">
                <div class="text-xl"><%= entry['date'].strftime("%b. %-d, %Y") %></div>
                <div class="text-sm">
                    <div class="p-4">
                        <ul class="list-disc list-inside space-y-1">
                            <% entry['items'].each do |item| %>
                                <li class="text-sm text-gray-600"><%= raw item %></li>
                            <% end %>
                        </ul>
                    </div>    
                </div>
            </div>
        <% end %>
    <% end %>
</section>
