<div>
    <h1>Contact</h1>
    Author: <%= link_to "Stanislav Valasek", "https://www.stanislavvalasek.com/en", class: "link" %>
    <br/>
    <br/>
    <p>Your Opinion Matters. Check the
    <a href="https://github.com/users/valasek/projects/2/views/1?layout=board" class="link">Roadmap</a>
    or <%= link_to "Leave a Feedback", "https://forms.gle/rMP5FwtpPDMgSn337", class: "link" %>.</p>
</div>
