<div>
  <h1 class="font-bold text-4xl">Find a Coach</h1>
  <p>Vízia:</p>
  <ul>
    <li>
      - Sústredenie sa na koučing a podpora na efektívne lekcie<br/>
      - Prehľad o klientoch<br/>
      - jednoduchá evidencia klientov pre kouča<br/>
      - Najčastejšie nástoje kouča<br/>
      - zoznam koučov<br/>
      - Nájdi si svojho kouča<br/>
      - DB koučov s kontaktom i referencemi
    </li>
</div>
