<div id="<%= dom_id client %>" class="flex flex-row gap-4">
  <fieldset class="fieldset basis-1/3">
    <legend class="fieldset-legend">Email</legend><%= client.email %>
  </fieldset>
    <fieldset class="fieldset basis-1/3">
    <legend class="fieldset-legend">Phone</legend><%= client.phone %>
  </fieldset>
</div>

<div class="flex flex-row gap-4 mb-8">
  <fieldset class="fieldset basis-full">
    <legend class="fieldset-legend">Notes</legend>
    <%= client.notes %>
  </fieldset>
</div>
