<% content_for :title, "New client" %>
<div class="w-full">

    <h1 class="font-bold text-4xl">Add your client</h1>

    <%= render "form", client: @client %>

    <%= link_to clients_path, class: "btn ml-4", data: { turbo_prefetch: false } do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-5 w-5 inline">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
      </svg>
      Back to clients
    <% end %>

</div>
