<footer class="mt-auto py-4 flex justify-center items-center border-t border-t-solid border-t-2 border-t-sky-500">
    <p>
    <%= image_tag ("favicon.ico"), class: "h-8 w-auto inline", alt: "Find a Coach", loading: "lazy" %>
    Find a Coach is designed, built, and backed with ♡ in
    <a href="https://www.lonelyplanet.com/slovakia"
        class="underline underline-offset-2 decoration-sky-500/80 mx-1">
        Slovakia
    </a>
    by <a href="https://stanislavvalasek.com/en/" class="underline underline-offset-2 decoration-sky-500/80 mx-1">Stanislav Valasek.</a>
    Enjoy the rest of your <%= Date.today.strftime("%A") %>!</p>
</footer>
