<footer class="footer sm:footer-horizontal bg-base-100 p-4 border-t-1 border-base-300">
  <aside class="grid-flow-col items-center">
    <p>
        <%= image_tag "favicon.ico", class: "inline" %>
        Find a Coach is designed, built, and backed by <%= link_to "Stanislav Valasek", "https://www.stanislavvalasek.com/en", class: "link" %>,
        created with ❤️ in <%= link_to "Slovakia", "https://slovakia.travel/en", class: "link" %></span></p>
  </aside>
  <aside class="grid-flow-col md:place-self-center md:justify-self-end">
    <p>© <%= Date.current.year %> Stanislav Valasek</p>
</aside>
</footer>