<footer class="mt-auto py-4 px-2 text-center justify-center items-center border-t border-t-solid border-t-2 border-t-sky-500">
    <div class="">
        <%= image_tag ("favicon.ico"), class: "h-8 w-auto inline pr-2", alt: "Find a Coach", loading: "lazy" %>
        <b>Find a Coach</b> is designed, built, and backed with ♡ in
        <a href="https://www.lonelyplanet.com/slovakia"
            class="underline underline-offset-2 decoration-sky-500/80 mx-1">
            Slovakia
        </a>
        by <a href="https://stanislavvalasek.com/en/" class="underline underline-offset-2 decoration-sky-500/80 mx-1">Stanislav Valasek.</a>
        Enjoy the rest of your <%= Date.today.strftime("%A") %>!<br/>
    </div>
    <div class="text-center py-2 mt-auto border-t border-gray-100">
        <span class="text-xs text-gray-400 hover:text-gray-600 transition-colors">
            Version: <%= APP_VERSION %>
        </span>
    </div>
</footer>
