<footer class="footer sm:footer-horizontal footer-center bg-base-100 p-4">
  <aside>
    <p>Find a Coach is designed, built, and backed by Stanislav Valasek, created in Slovakia
    <p>© <%= Date.current.year %> Stanislav Valasek</p>
  </aside>
</footer>